HELP.md
target/
**/mvn/wrapper/maven-wrapper.jar
**/src/main/java/
**/src/main/resources/templates/files/
**/src/main/resources/templates/themeleaf/
**/src/main/resources/application.properties
**/src/test/
**/target/classes
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/PRINT/

### single files ###
mvnw
mvnw.cmd
pom.xml
Travel Expense.txt
travelexpense.zip

### node files ###
node_modules/
package-lock.json
package.json
src/main/resources/frontendK/nodeserver
src/main/resources/frontendS/
.gitignore

