html {
    box-sizing: border-box;
    font-size: 100%;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: rgb(250,250,250);
}
form {
    position: absolute;
    top:120px;
    left:30px;
    /* border: 1px solid pink; */
    margin-top:20px;
    width: 280px;
    height:280px;
}
label{
    position: absolute;
}
input{
    position: absolute;
    border-radius: 5px;
    outline:none;
    border:none;
}
.hidden{
    display:none;
}
input[type=password], input[name="login"]{
    width:256px;
    height:30px;
    padding:5px 5px 5px 15px;
    background-color: rgb(245,245,245);
    border:2px solid rgb(235, 235, 235);
}
input[type=password]:hover, input[name="login"]:hover{
    border-color: rgb(50, 100, 255);
}
input[type=password]:focus, input[name="login"]:focus{
    border-color: rgb(50, 100, 255);
}
input[type=password]::placeholder, input[name="login"]::placeholder{
    color:rgb(130,130,130);
    letter-spacing: 2px;
}
input[type=submit]{
    position: absolute;
    top: 230px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: rgb(50, 100, 255);
    text-transform: uppercase;
    color:white;
    width: 280px;
    height: 50px;
    padding: 5px;
    transition: .5s;
}
input[type=submit]:hover{
    cursor:pointer;
    background-color: rgb(100, 150, 255);
}
form label{
    left:0;
    padding-left: 5px;
}
form label:nth-child(1){
    top: 50px;
}
form label:nth-child(2){
    top: 130px;
}
form input[type=text]{
    top: 40px;
}
form input[type=password]{
    top: 120px;
}
.login-container{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,.12);
    margin-top:60px;
    width: 340px;
    height:500px;
}
.login-container-label{
    top:40px;
    left:20px;
    width:300px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    /* font-weight: bold; */
    color: rgb(50, 100, 255);
}
.password-forgot-container{
    position: absolute;
    top:440px;
    left:30px;
    width:280px;
    height:30px;
    /* background-color: pink; */
}
.password-forgot-label{
    top:8px;
    left:10px;
    width:200px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(100, 100, 100);
}
.password-forgot-container a{
    position: absolute;
    top:9px;
    left:140px;
    /* width:280px; */
    /* height:30px; */
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-left:8px solid rgb(50, 100, 255);
}