html {
    box-sizing: border-box;
    font-size: 100%;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(250,250,250);
}
form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin-top: 20px;
    /* border: 1px solid green; */
    width: 280px;
    /* height:890px; */
}
label{
    position: relative;
}
h1{
    margin-top:20px;
    margin-bottom:60px;
    padding: 0 30px 0 20px;
    color:rgb(100,100,100);
}
input{
    position: absolute;
    border-radius: 5px;
    outline:none;
    border:none;
}
.hidden{
    display:none;
}
input{
    width:256px;
    height:20px;
    padding:5px 5px 5px 15px;
    background-color: rgb(245,245,245);
    border:2px solid rgb(235, 235, 235);
}
input:hover, input:focus{
    border-color: rgb(50, 100, 255);
}
input::placeholder{
    color:rgb(130,130,130);
    letter-spacing: 2px;
}
input[type=submit]{
    position:relative;
    /* top: 840px; */
    font-size: 16px;
    margin:60px auto 0 auto;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: rgb(50, 100, 255);
    text-transform: uppercase;
    color:white;
    width: 280px;
    height: 50px;
    padding: 5px;
    transition: .5s;
}
input[type=submit]:hover{
    cursor:pointer;
    background-color: rgb(100, 150, 255);
}
form label{
    left:0;
    padding-left: 20px;
    margin:20px auto 40px 0;
    height: fit-content;
    font-size: 14px;
    text-align: left;
    color:rgb(100,100,100);
    /* border:1px solid pink; */
}
/* form label:nth-child(1){
    top: 0;
}
form label:nth-child(2){
    top: 90px;
}
form label:nth-child(3){
    top: 160px;
}
form label:nth-child(4){
    top: 250px;
}
form label:nth-child(5){
    top: 320px;
}
form label:nth-child(6){
    top: 390px;
}
form label:nth-child(7){
    top: 460px;
}
form label:nth-child(8){
    top: 570px;
}
form label:nth-child(9){
    top: 640px;
}
form label:nth-child(10){
    top: 710px;
} */
form label input{
    position: absolute;
    left:0px;
    margin-top: 20px;
}
.dbtc-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,.12);
    margin-top:10px;
    margin-bottom:50px;
    padding:10px 10px 40px 10px;
    width: 320px;
    /* height:1020px; */
}
.dbtc-container h4{
    font-size: 18px;
    margin:30px 0 10px 0px;
    color:rgb(50, 100, 255);
    text-align: center;
}
.register-employee-label{
    top:40px;
    left:20px;
    width:300px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    color: rgb(50, 100, 255);
}