<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Kalkulator krajowej podróży służbowej</title>
    <link rel="stylesheet" href="styles/tac-main-styles.css">
</head>

<body>
    <header>
        <div class="Login-button"><a href="./pages/login.html">Zaloguj się</a></div>
        <div class="Register-button"><a href="#">Zarejestruj się</a></div>
    </header>
</body>

</html>