
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Kalkulator podróży służbowych krajowych (od 1 stycznia 2023) -
    </title>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://inforfk.pl/dok/tresc,FOB0000000000005643022,Nowy-Kalkulator-podrozy-sluzbowych-krajowych-od-1-stycznia-2023.html"
            },
            "headline": "Kalkulator podróży służbowych krajowych (od 1 stycznia 2023)",
            "datePublished": "2023-01-01T00:00:00+01:00",
            "dateModified": "2023-01-01T00:00:00+01:00",
            "description": "Kalkulator oblicza należności z tytułu krajowej podróży służbowej zgodnie z zasadami obowiązującymi od 1 stycznia 2023 r.",
            "publisher": {
                "@type": "Organization",
                "name": "INFORLEX.PL",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://static-smj.infor.pl/ilex/_i/_wspolne/logo/infor-lex_2020_white.png",
                    "width": "141",
                    "height": "90"
                }
            },
            "isAccessibleForFree": false
        }
    </script>
    <!-- eventBusWatchedView.tpl -->
    <script type="text/javascript" defer>
        document.addEventListener('sessionInitialized', function() {
        window.eventBus.pushEvent(window.eventBus.EVENTS.createWatched, {"infor_id":"FOB0000000000005643022","article_title":"Kalkulator podr\u00f3\u017cy s\u0142u\u017cbowych krajowych (od 1 stycznia 2023)","canonical_url":"https:\/\/inforfk.pl\/dok\/tresc,FOB0000000000005643022,Nowy-Kalkulator-podrozy-sluzbowych-krajowych-od-1-stycznia-2023.html","article_publication_date":"2023-01-01","article_access":"paid","type":"Kalkulatory","categories":[{"id":"02","name":"Kadry i p\u0142ace","categories":[{"id":"0201","name":"Kodeks pracy","categories":[{"id":"020119","name":"Podr\u00f3\u017ce s\u0142u\u017cbowe"}]}]}]});
        window.eventBus.pushEvent(window.eventBus.EVENTS.commit, {});
        });
    </script>
</head>
<body>
                <div class="m-3 lg:m-8">
                    <div class="shadow-md rounded-xl">
                        <div id="detailContentWrapper" class="psavcalculator overflow-y-hidden" data-inforid="FOB0000000000005643022" data-infor-id="FOB0000000000005643022"
                             data-product="ifk" >
                            <script id="infor-calculator-widget" async="async" charset="utf-8"
                                    src="https://kalkulatory.infor.pl/widget.js"></script></div></div></div>
</body>