<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Kalkulator krajowej podróży służbowej</title>
    <link rel="stylesheet" href="../styles/tac-employee-styles.css">
</head>
<body>
<div class="employee-register-container">
    <label for="register-employee-form" class="register-employee-label">Add user</label>
    <form id="register-employee-form">
        <label for="pesel" class="hidden"></label>
        <label for="firstName" class="hidden"></label>
        <label for="secondName" class="hidden"></label>
        <label for="position" class="hidden"></label>
        <input name="pesel" id="pesel-field2" type="text" minlength="11" maxlength="11" placeholder="Pesel" required>
        <input name="firstName" type="text" placeholder="Imię" required>
        <input name="secondName" type="text" placeholder="Nazwisko" required>
        <input name="position" type="text" placeholder="Stanowisko" required>
        <input type="submit" value="Dodaj">
    </form>
</div>
<script src="../javascript/submitEmployeeForm.js"></script>
<script src="../javascript/validatePesel.js"></script>
</body>
</html>
